html {
  background-color: #E61F0D;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flex-container>div {
  /* height: 120vh; */
  /* line-height: 0.55em; */
  color: #ffffff;
  font-size: 250px;
  font-family: 'Source Code Pro', monospace;
  padding-bottom: 150px;
}

.vertical {
  height: 600px;
  width: 600px;
  text-align: center;
  cursor: default;
  line-height: 0.8em;
}

.vertical-painting {
  width: 600px;
  height: 600px;
  cursor: default;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  top: 100px;
  left: 100px;
}

.vertical-hidden {
  width: 80%;
  text-align: center;
  writing-mode: vertical-lr;
  text-orientation: upright;
  letter-spacing: -150px;
  cursor: default;
}

/* .vertical:active {
  width: 600px;
  height: 600px;
  cursor: default;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  top: 100px;
  left: 100px;
} */

.vertical-hidden:active {
  font-size: 0;
  background: #ffffff;
  cursor: pointer;
  height: inherit;
  display: block;
}

@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }
  to {
    transform: perspective(400px);
  }
}

.purple {
  background-color: #9a3fa8;
  width: 150px;
  height: 150px;
  text-align: center;
  letter-spacing: normal;
  writing-mode: horizontal-tb;
}

.blue {
  background-color: #356daf;
  width: 150px;
  height: 150px;
  text-align: center;
  letter-spacing: normal;
  writing-mode: horizontal-tb;
}

.orange {
  background-color: #eb9938;
  width: 150px;
  height: 150px;
  text-align: center;
  letter-spacing: normal;
  writing-mode: horizontal-tb;
}

.pink {
  background-color: #f581e9;
  width: 150px;
  height: 150px;
  text-align: center;
  letter-spacing: normal;
  writing-mode: horizontal-tb;
}

.teal {
  background-color: #28ab93;
  width: 150px;
  height: 150px;
  text-align: center;
  letter-spacing: normal;
  writing-mode: horizontal-tb;
}

.green {
  background-color: #28ab49;
  width: 150px;
  height: 150px;
  text-align: center;
  letter-spacing: normal;
  writing-mode: horizontal-tb;
}

.g {
  color: #28ab49;
  font-size: 90px;
}

.pr {
  color: #9a3fa8;
  font-size: 90px;
}

.p {
  color: #f581e9;
  font-size: 90px;
}

.o {
  color: #eb9938;
  font-size: 90px;
}

.b {
  color: #356daf;
  font-size: 90px;
}